body.index {
  .content-width-clamp {
    max-width: 400px;
    margin: 0 auto;
  }

  a.red-badger {
    font-weight: bold;
  }

  a {
    position: relative;
    color: $text-color;

    &.readable.unread {
      &::after {
        content: "*";
        position: absolute;
        top: -0.5em;
        font-variant: normal;
        color: red;
        font-size: 1.5em;
        z-index: -1000;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.85em;
    font-weight: $base-font-weight + 200;
    margin: $spacing-unit 0 0;
  }

  ul {
    text-align: left;
    margin: 0 $spacing-unit $spacing-unit;
  }

  li {
    list-style: none;
    margin: 5px 0;

    &.posts {
      li {
        font-style: italic;
      }
    }

    &.projects {
      li .about {
        font-size: 0.85em;
        font-style: italic;
        margin: 5px $spacing-unit;
      }
    }
  }
}
