header.site {
  position: relative;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
  font-size: 1.25em;
  overflow: hidden;
  white-space: nowrap;

  .bars {
    letter-spacing: -1px;
  }

  a {
    color: $text-color;
  }
}

article.post {
  margin: 0 auto;
  max-width: 500px;

  @include media-query($on-palm) {
    margin: 0;
  }

  footer {
    time {
      display: inline-block;
      margin-top: 2 * $spacing-unit;
      padding-top: $spacing-unit;
      border-top: dashed 1px $text-color;
      text-transform: uppercase;
      font-size: 0.85em;
    }
  }
}

footer.site {
  text-align: center;
  font-size: 0.65em;
  margin-top: $spacing-unit * 2;
}
