header.site {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
}



footer.site {
  text-align: center;
  font-size: 0.65em;
  margin-top: $spacing-unit * 2;
}
