header.site {
  position: relative;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
  font-size: 1.25em;
  overflow: hidden;
  white-space: nowrap;

  .bars {
    letter-spacing: -1px;
  }

  a {
    color: $text-color;
  }

  @include media-query($on-palm) {
    text-align: center;
  }
}



footer.site {
  text-align: center;
  font-size: 0.65em;
  margin-top: $spacing-unit * 2;
}
